@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --c700: "Comfortaa-Bold";
  --c400: "Comfortaa-Regular";
  --m700: "Montserrat-Bold";
  --m400: "Montserrat-Regular";
  --r500: "Roboto-Medium";
  --r400: "Roboto-Regular";
  --gold: #f18128;
  --dkblue: #040d1f;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--dkblue);
}

.header_top {
  background-image: linear-gradient(
    90.09deg,
    #3800af 0%,
    #bf7204 97.52%,
    #c27500 100%,
    #c27500 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 20px 0;
  animation: rgb 2s linear infinite;
}

@keyframes rgb {
  to {
    filter: hue-rotate(360deg);
  }
}

.header_top_text {
  font-family: var(--c400);
  font-size: 16px;
  line-height: 17.84px;
  color: #fff;
  width: 166px;
}

.nav {
  background: #010305cc;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo span {
  font-family: var(--c700);
  font-size: 18px;
  line-height: 20.07px;
  color: #fff;
}

.nav_list {
  display: flex;
  list-style: none;
  gap: 18px;
}

.nav_link {
  font-family: var(--m400);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #fff;
  transition: 0.5s;
}

.nav_link span {
  padding: 40px 6px;
  display: block;
}

.nav_link::after,
.nav_link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--gold);
  display: block;
  border-radius: 2px 2px 0 0;
  transform: scale(0);
  transition: 0.5s;
}

.nav_link::before {
  border-radius: 0 0 2px 2px;
}

.nav_link:hover::after,
.nav_link:hover::before {
  transform: scale(1);
}

.nav_link:hover {
  color: var(--gold);
}

.intro {
  background-image: url(../images/intro_bg.png);
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.intro::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #070f19bf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro_title {
  font-family: var(--m700);
  font-size: 64px;
  line-height: 78.02px;
  color: #fff;
}

.intro_text {
  font-family: var(--m400);
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 570px;
  width: 100%;
  text-align: justify;
}

.intro_info {
  display: flex;
  gap: 30px;
}

.link,
.intro_link {
  width: 166px;
  height: 45px;
  background-color: var(--gold);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--r500);
  font-size: 14px;
  line-height: 12px;
  color: #000;
}

.intro_link {
  background-color: var(--dkblue);
  color: #fff;
}

.menu {
  background-color: unset;
  border: none;
  cursor: pointer;
  display: none;
}

.menu img {
  width: 30px;
}

.title {
  margin: 50px 0;
  font-family: var(--c400);
  font-size: 36px;
  font-weight: 400;
  line-height: 40.14px;
  color: var(--gold);
  text-transform: capitalize;
  border-bottom: 2px solid var(--gold);
  display: inline-block;
}

.film_box {
  display: flex;
  gap: 30px;
}

.film_card {
  background-image: url(../images/film_1.png);
  width: 255px;
  padding: 54px 15px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #fff;
  gap: 15px;
  transition: 1s;
  overflow: hidden;
  border-radius: 6px;
}

.film_card:nth-of-type(2) {
  background-image: url(../images/film_2.png);
}

.film_card:nth-of-type(3) {
  background-image: url(../images/film_3.png);
}

.film_card:nth-of-type(4) {
  background-image: url(../images/film_4.png);
}

.film_card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(241, 129, 40, 0.35) 0%,
    rgba(0, 0, 0, 0.71) 51.04%,
    rgba(7, 15, 25, 0.8) 100%
  );
  z-index: -1;
}

.film_time {
  font-family: var(--m400);
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
  border: 1px solid #ffffff;
  background: #070f1933;
  padding: 6px 27px;
  border-radius: 9px;
  transform: translateX(200px);
  transition: 1s;
}

.film_title {
  font-family: var(--m400);
  font-size: 22px;
  font-weight: 400;
  line-height: 26.82px;
  transform: translateX(-220px);
  transition: 1s;
}

.film_text {
  font-family: var(--r400);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  transform: translateY(180px);
  transition: 1s;
}

.film_play {
  transform: translateY(-120px);
  transition: 1s;
}

.film_card:hover .film_title,
.film_card:hover .film_time,
.film_card:hover .film_text {
  transform: translate(0);
}

.film_card:hover .film_play {
  transform: translate(0) rotateX(720deg);
}

.film_card:hover {
  box-shadow: 0 0 20px #fff;
}

.widow {
  background: linear-gradient(
    90deg,
    #def7ff 0%,
    #f4fcff 45.64%,
    rgba(255, 255, 255, 0) 100.72%
  );
  height: 500px;
  margin-top: 70px;
  position: relative;
  display: flex;
  align-items: center;
}
.widow_video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.widow_text {
  font-family: var(--r400);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  margin: 50px 0;
  max-width: 560px;
  width: 100%;
}
.collect_box {
  display: flex;
  gap: 30px;
}
.collect_card:nth-of-type(2) {
  background-image: url(../images/col_2.png);
}

.collect_card:nth-of-type(3) {
  background-image: url(../images/col_3.png);
}
.collect_card {
  max-width: 350px;
  width: 100%;
  height: 193px;
  background-image: url(../images/col_1.png);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.collect_card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(7, 15, 25, 0.56) 0%,
    rgba(49, 114, 9, 0.56) 100%
  );
  z-index: -1;
}
.collect_left {
  position: absolute;
  top: calc(7px);
  left: calc(7px);
}
.collect_right {
  position: absolute;
  top: calc(7px);
  right: calc(7px);
}
.collect_title {
  font-family: var(--c700);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.3px;
  color: #fff;
  margin-top: 15px;
}
.game {
  background-image: url(../images/game_bg.png);
  background-size: cover;
  background-position: right;
  height: 436px;
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
}
.game::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    95.68deg,
    rgba(35, 35, 35, 0.8) 10.86%,
    rgba(11, 11, 11, 0.6) 110.86%
  );
  z-index: -1;
}
.game_title {
  font-family: var(--c700);
  font-size: 40px;
  font-weight: 700;
  line-height: 44.6px;
  color: #fff;
}
.game_text {
  font-family: var(--c400);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.series_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.series_card {
  background: linear-gradient(
    95.68deg,
    rgba(35, 35, 35, 0.8) 0%,
    rgba(11, 11, 11, 0.6) 100%
  );
  position: relative;
  min-height: 183px;
  border-radius: 6px;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.series_card:first-of-type {
  grid-row: span 2;
  grid-column: span 2;
}
.series_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.series_title {
  font-family: var(--c700);
  font-size: 24px;
  font-weight: 700;
  line-height: 26.76px;
  color: #fff;
}
.footer {
  margin-top: 60px;
  padding: 30px 0;
  background-color: var(--gold);
}
.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_title {
  font-family: var(--c700);
  font-size: 18px;
  font-weight: 700;
  line-height: 20.07px;
  color: #fff;
}
.footer_logos {
  display: flex;
  gap: 30px;
}
.footer_logos img {
  width: 130px;
}
